{% extends 'my_app/base.html' %}
{% block body_block %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static 'css/style_logs.css' %}"/>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<body class="w3-white w3-content" style="max-width:1600px">


  <nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
    <h3 class="w3-padding-64 w3-center"><b><br></b></h3>
    <div class="w3-display-topleft w3-padding-small w3-small">
     <img class= "logo" src="{% static 'images/cisco-meraki.png' %}" alt="Merki_Logo" >
      <!-- img src="cisco-meraki.png" alt="Merki_Logo" -->

    </div>
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">Accesos Rapidos</a>
    <a href="https://meraki.cisco.com/support/" onclick="w3_close()" class="w3-bar-item w3-button">Soporte</a>
    <a href="https://account.meraki.com/login/dashboard_login" onclick="w3_close()" class="w3-bar-item w3-button">Meraki Dashboard</a>
    <!--<a href="#" onclick="w3_close()" class="w3-bar-item w3-button">LOG OUT</a>-->
  </nav>

<!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
    <span class="w3-left w3-padding">MERAKI</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
  </header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>


  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- About section -->

  <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
    <h4><b>Registros de Acceso</b></h4>

    <div class="w3-content w3-justify" style="max-width:1000px">
      <h4>Tus registros de acceso:</h4>
      <p>En esta sección puedes explorar los logs y notificaciones de las personas que han intentado ingresar a sus instalaciones utilizando la solución de Meraki Vision.</p>
      <p>Usario: ejemplo@ejemplo.com</p>
      <hr class="w3-opacity">

    </div>
  </div>

  <div class="w3-content w3-justify" style="max-width:1000px" >
      <script type="text/javascript">
      $(document).ready( function () {
          $('#table_id').DataTable();
      } );
      </script>


      <table id="table_id" class="display">
          <thead>
              <tr>
                  <th>Fecha</th>
                  <th>Estatus</th>
                  <th>Nombre</th>
                  <th>Similitud</th>
                  <th>Edad</th>
                  <th>Dispositivo</th>
              </tr>
          </thead>
          <tbody>
                {% for item in registros %}
                <tr>
                  <td>{{ item.Time.S }} </td>
                  <td>{{ item.Access.S }} </td>
                  <td>{{ item.Name.S }} </td>
                  <td>{{ item.Similarity.S }} </td>
                  <td>{{ item.Age.N }} </td>
                  <td>{{ item.Location.S}} </td>
                </tr>
                {% endfor %}
          </tbody>

      </table>

      </div>



  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-white">
    <div class="w3-row-padding">
      <div class="w3">
        <h3>Información</h3>
        <p>Politica de privacidad: No se guarda ningun detalle de los rostros o biometricos.</p>
      </div>

    </div>
  </footer>

  <div class="w3-black w3-center w3-padding-24">Todos los derechos reservados. 2020.  <a href="https://www.cisco.com" title="Cisco Meraki" target="_blank" class="w3-hover-opacity">Cisco Meraki</a></div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>


</body>



{% endblock %}
